In [2]:
from pyspark import SparkContext

# Initialize a SparkContext
sc = SparkContext("local", "RDD with 5 Transformations")

# Create an RDD from a list of integers
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rdd = sc.parallelize(data)

# Transformation 1: Filter to keep only even numbers
even_rdd = rdd.filter(lambda x: x % 2 == 0)

# Transformation 2: Map each number to its square
squared_rdd = even_rdd.map(lambda x: x ** 2)

# Transformation 3: Filter out numbers greater than 50
filtered_rdd = squared_rdd.filter(lambda x: x <= 50)

# Transformation 4: Add 10 to each remaining number
added_rdd = filtered_rdd.map(lambda x: x + 10)

# Transformation 5: Sort the numbers in descending order
sorted_rdd = added_rdd.sortBy(lambda x: -x)

# Action: Collect the results
result = sorted_rdd.collect()

# Print the final result
print("Final Result:", result)

# Stop the SparkContext
sc.stop()

Final Result: [46, 26, 14]